.order-bill-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 8px grey;
    overflow: hidden;
    margin-bottom: 15px;
}

.order-bill-container-header{
    margin-top:0;
    font-size: 1.4em;
    margin-bottom: 15px;
}

.order-bill-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    /* padding-bottom: 10px; */
    border-spacing: 0 9px;
}

.order-bill-table tr > th {
    width: 50%;
    text-align: left;
    padding-left: 11vw;
    /* border-bottom: 1px solid; */
}

.order-bill-table tr > td {
    width: 50%;
    padding-left: 10vw;
    text-align: left;
    /* padding-top: 0; */
    /* border-bottom: 1px solid; */
}

.order-bill-table tr {
    margin-bottom: 2px;
    height: 50px;
    /* border-bottom: 1px solid; */

}

.order-bill-legend{
    width: auto;
}

.order-bill-legend > h2{
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    font-size: 1.6em;
}

.order-bill-fieldset {
    border-radius: 15px;
    border: 1px solid rgb(218, 218, 218);
    padding-top: 0;
    padding-bottom: 0
}

.order-bill-head {
    border-bottom: 1px solid;
}

.order-bill-delivery-container{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 15px;
    padding: 15px;
}

.order-bill-header{
    font-size: 1.4em;
}

.order-bill-body{
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 15px;
}

.order-bill-item-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
}

.order-bill-pending-icon{
    color: rgb(255, 196, 0);
}

.order-bill-complete-icon{
    color: green;
}